.Info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
}

.left {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right {
  width: max-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
